---

---

<footer class="text-[#e8e8e8] py-8 sm:py-12 lg:py-16 w-full">
  <div
    class="max-w-screen-2xl px-4 sm:px-6 lg:px-8 mx-auto flex flex-col lg:flex-row justify-between items-start gap-8 lg:gap-0"
  >
    <!-- Left Section -->
    <div
      class="flex flex-col gap-6 sm:gap-8 lg:gap-10 w-full lg:w-auto items-center lg:items-start"
    >
      <!-- Social Icons -->
      <div class="flex gap-3 sm:gap-4 justify-center lg:justify-start">
        <a
          href="https://www.linkedin.com/company/nextstep-engineering-software-solutions-co-ltd/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          class="inline-block transition-opacity hover:opacity-80"
        >
          <svg
            width="35"
            height="35"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M37.5 6.25C39.1576 6.25 40.7473 6.90848 41.9194 8.08058C43.0915 9.25269 43.75 10.8424 43.75 12.5V37.5C43.75 39.1576 43.0915 40.7473 41.9194 41.9194C40.7473 43.0915 39.1576 43.75 37.5 43.75H12.5C10.8424 43.75 9.25269 43.0915 8.08058 41.9194C6.90848 40.7473 6.25 39.1576 6.25 37.5V12.5C6.25 10.8424 6.90848 9.25269 8.08058 8.08058C9.25269 6.90848 10.8424 6.25 12.5 6.25H37.5ZM16.6667 20.8333C16.1141 20.8333 15.5842 21.0528 15.1935 21.4435C14.8028 21.8342 14.5833 22.3641 14.5833 22.9167V33.3333C14.5833 33.8859 14.8028 34.4158 15.1935 34.8065C15.5842 35.1972 16.1141 35.4167 16.6667 35.4167C17.2192 35.4167 17.7491 35.1972 18.1398 34.8065C18.5305 34.4158 18.75 33.8859 18.75 33.3333V22.9167C18.75 22.3641 18.5305 21.8342 18.1398 21.4435C17.7491 21.0528 17.2192 20.8333 16.6667 20.8333ZM22.9167 18.75C22.3641 18.75 21.8342 18.9695 21.4435 19.3602C21.0528 19.7509 20.8333 20.2808 20.8333 20.8333V33.3333C20.8333 33.8859 21.0528 34.4158 21.4435 34.8065C21.8342 35.1972 22.3641 35.4167 22.9167 35.4167C23.4692 35.4167 23.9991 35.1972 24.3898 34.8065C24.7805 34.4158 25 33.8859 25 33.3333V25.7083C25.6354 24.9917 26.7083 24.15 27.9021 23.6396C28.5958 23.3437 29.6396 23.2229 30.3646 23.4521C30.6051 23.5131 30.8193 23.6505 30.975 23.8437C31.0833 23.9896 31.25 24.3146 31.25 25V33.3333C31.25 33.8859 31.4695 34.4158 31.8602 34.8065C32.2509 35.1972 32.7808 35.4167 33.3333 35.4167C33.8859 35.4167 34.4158 35.1972 34.8065 34.8065C35.1972 34.4158 35.4167 33.8859 35.4167 33.3333V25C35.4167 23.6042 35.0625 22.3625 34.325 21.3667C33.6464 20.4637 32.6966 19.8015 31.6146 19.4771C29.7354 18.8875 27.6542 19.2146 26.2646 19.8104C25.8197 20.0018 25.3863 20.2188 24.9667 20.4604C24.8793 19.9804 24.6263 19.5462 24.2517 19.2337C23.877 18.9211 23.4046 18.7499 22.9167 18.75ZM16.6667 14.5833C16.1141 14.5833 15.5842 14.8028 15.1935 15.1935C14.8028 15.5842 14.5833 16.1141 14.5833 16.6667C14.5833 17.2192 14.8028 17.7491 15.1935 18.1398C15.5842 18.5305 16.1141 18.75 16.6667 18.75C17.2192 18.75 17.7491 18.5305 18.1398 18.1398C18.5305 17.7491 18.75 17.2192 18.75 16.6667C18.75 16.1141 18.5305 15.5842 18.1398 15.1935C17.7491 14.8028 17.2192 14.5833 16.6667 14.5833Z"
              fill="#C4C4C4"></path>
          </svg>
        </a>
        <a
          href="#"
          aria-label="Instagram"
          class="inline-block transition-opacity hover:opacity-80"
        >
          <svg
            width="26.6"
            height="31"
            viewBox="0 0 38 31"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.0833 0C29.846 0 32.4955 1.09747 34.449 3.05097C36.4025 5.00447 37.5 7.65399 37.5 10.4167V27.0833C37.5 29.846 36.4025 32.4955 34.449 34.449C32.4955 36.4025 29.846 37.5 27.0833 37.5H10.4167C7.65399 37.5 5.00447 36.4025 3.05097 34.449C1.09747 32.4955 0 29.846 0 27.0833V10.4167C0 7.65399 1.09747 5.00447 3.05097 3.05097C5.00447 1.09747 7.65399 0 10.4167 0H27.0833ZM18.75 10.4167C16.5399 10.4167 14.4202 11.2946 12.8574 12.8574C11.2946 14.4202 10.4167 16.5399 10.4167 18.75C10.4167 20.9601 11.2946 23.0798 12.8574 24.6426C14.4202 26.2054 16.5399 27.0833 18.75 27.0833C20.9601 27.0833 23.0798 26.2054 24.6426 24.6426C26.2054 23.0798 27.0833 20.9601 27.0833 18.75C27.0833 16.5399 26.2054 14.4202 24.6426 12.8574C23.0798 11.2946 20.9601 10.4167 18.75 10.4167ZM18.75 14.5833C19.8551 14.5833 20.9149 15.0223 21.6963 15.8037C22.4777 16.5851 22.9167 17.6449 22.9167 18.75C22.9167 19.8551 22.4777 20.9149 21.6963 21.6963C20.9149 22.4777 19.8551 22.9167 18.75 22.9167C17.6449 22.9167 16.5851 22.4777 15.8037 21.6963C15.0223 20.9149 14.5833 19.8551 14.5833 18.75C14.5833 17.6449 15.0223 16.5851 15.8037 15.8037C16.5851 15.0223 17.6449 14.5833 18.75 14.5833ZM28.125 7.29167C27.5725 7.29167 27.0426 7.51116 26.6519 7.90186C26.2612 8.29256 26.0417 8.82247 26.0417 9.375C26.0417 9.92753 26.2612 10.4574 26.6519 10.8481C27.0426 11.2388 27.5725 11.4583 28.125 11.4583C28.6775 11.4583 29.2074 11.2388 29.5981 10.8481C29.9888 10.4574 30.2083 9.92753 30.2083 9.375C30.2083 8.82247 29.9888 8.29256 29.5981 7.90186C29.2074 7.51116 28.6775 7.29167 28.125 7.29167Z"
              fill="#C4C4C4"></path>
          </svg>
        </a>
        <a
          href="#"
          aria-label="X (Twitter)"
          class="inline-block transition-opacity hover:opacity-80"
        >
          <svg
            width="29.05"
            height="36"
            viewBox="0 0 42 42"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.64592 1.729C6.8115 1.729 5.05222 2.45772 3.75509 3.75485C2.45797 5.05198 1.72925 6.81126 1.72925 8.64567V32.854C1.72925 34.6884 2.45797 36.4477 3.75509 37.7448C5.05222 39.042 6.8115 39.7707 8.64592 39.7707H32.8543C34.6887 39.7707 36.4479 39.042 37.7451 37.7448C39.0422 36.4477 39.7709 34.6884 39.7709 32.854V8.64567C39.7709 6.81126 39.0422 5.05198 37.7451 3.75485C36.4479 2.45772 34.6887 1.729 32.8543 1.729H8.64592ZM8.06837 7.78109C7.87908 7.85143 7.70884 7.96501 7.5712 8.11277C7.43355 8.26054 7.33232 8.4384 7.27556 8.6322C7.21879 8.82599 7.20807 9.03037 7.24425 9.22904C7.28042 9.42771 7.36249 9.61519 7.48392 9.77655L17.1915 22.6588L6.96344 33.6304L6.88735 33.7186H10.427L18.7788 24.7632L25.1975 33.2846C25.3464 33.4818 25.5486 33.6324 25.7802 33.7186H33.4266C33.6156 33.6479 33.7855 33.534 33.9228 33.3861C34.06 33.2382 34.1609 33.0603 34.2173 32.8665C34.2737 32.6727 34.2841 32.4685 34.2477 32.27C34.2113 32.0715 34.1291 31.8843 34.0076 31.7231L24.3001 18.8408L34.6128 7.78109H31.068L22.7161 16.7382L16.294 8.21684C16.1453 8.01896 15.9431 7.86775 15.7113 7.78109H8.06837ZM26.8817 31.2078L11.1204 10.2918H14.6115L30.3712 31.2061L26.8817 31.2078Z"
              fill="#C4C4C4"></path>
          </svg>
        </a>
      </div>

      <!-- Logo and Brand -->
      <div
        class="flex items-center gap-3 sm:gap-4 lg:gap-5 justify-center lg:justify-start"
      >
        <img
          src="/logo-nextstep.svg"
          alt="NextStep Logo"
          class="w-[140px] h-[55.3px] sm:w-[170px] sm:h-[67px] lg:w-[210px] lg:h-[83.3px]"
        />
      </div>
    </div>

    <!-- Right Section - Links -->
    <div
      class="flex flex-col sm:flex-row gap-8 sm:gap-16 lg:gap-32 w-full lg:w-auto"
    >
      <!-- Column 1 -->
      <div class="flex flex-col gap-4 sm:gap-5 lg:gap-6">
        <a
          href="/careers"
          class="text-[#e8e8e8] no-underline !text-[16.1px] font-normal transition-colors hover:text-white"
          >Careers</a
        >
        <a
          href="/join-us"
          class="text-[#e8e8e8] no-underline !text-[16.1px] font-normal transition-colors hover:text-white"
          >Join Us</a
        >
        <a
          href="/internship"
          class="text-[#e8e8e8] no-underline !text-[16.1px] font-normal transition-colors hover:text-white"
          >Internship Programs</a
        >
        <a
          href="/hr"
          class="text-[#e8e8e8] no-underline !text-[16.1px] font-normal transition-colors hover:text-white"
          >Human Resources</a
        >
      </div>

      <!-- Column 2 -->
      <div class="flex flex-col gap-4 sm:gap-5 lg:gap-6">
        <a
          href="/support"
          class="text-[#e8e8e8] no-underline !text-[16.1px] font-normal transition-colors hover:text-white"
          >Support</a
        >
        <a
          href="/contact"
          class="text-[#e8e8e8] no-underline !text-[16.1px] font-normal transition-colors hover:text-white"
          >Contact</a
        >
      </div>
    </div>
  </div>
</footer>
