---
// Tech Section Component
---

<section class="py-16 sm:py-20 lg:py-24 bg-[#EDEBE5]">
  <div class="max-w-screen-2xl px-4 sm:px-6 lg:px-8 mx-auto w-full">
    <div class="flex flex-col gap-12 lg:gap-16">
      <!-- First Row of Tech Logos -->
      <div
        class="flex flex-wrap items-center justify-center gap-8 sm:gap-12 lg:gap-16"
      >
        <img
          src="/tech-svg/azure.svg"
          alt="Azure"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/aws.svg"
          alt="AWS"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/react.svg"
          alt="React"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/mongodb.svg"
          alt="MongoDB"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/docker.svg"
          alt="Docker"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/rust.svg"
          alt="Rust"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
      </div>

      <!-- Second Row of Tech Logos -->
      <div
        class="flex flex-wrap items-center justify-center gap-8 sm:gap-12 lg:gap-16"
      >
        <img
          src="/tech-svg/csharp.svg"
          alt="C#"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/typescript.png"
          alt="TypeScript"
          class="w-auto scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/html.svg"
          alt="HTML5"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/golang.svg"
          alt="Go"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
        <img
          src="/tech-svg/python.svg"
          alt="Python"
          class="scale-[0.7] opacity-100 hover:opacity-70 transition-opacity duration-300"
        />
      </div>
    </div>
  </div>
</section>
